{% extends 'base.html' %}

{% block title %}SignUp{% endblock title %}

{% block body %}

<form method="post" action="/signup">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">First Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="firstname" placeholder="Enter Your First Name">
  </div>  
  
  <div class="form-group">
    <label for="exampleFormControlInput1">Last Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="lastname" placeholder="Enter Your Last Name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="Enter Your Username">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="password" class="form-control" id="exampleFormControlInput1" name="password">
  </div>
  
  <button class="btn btn-primary" type="submit">Submit</button>

</form>

{% endblock body %}