<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="../static/style.css">
        
</head>


<body>
    <header class="header">
        <nav>
            <ul>
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact me</a>
            </ul>
        </nav>

        <div class="dwn_res">
            <button class="btn">
                <a href="https://drive.google.com/file/d/1D4AOv6aPOSgdxHIvpF2riagTC-_naa7H/view?usp=sharing" class="href">Download my resume</a>
            </button>
        </div>
    </header>


</body>

</html>